@import "sass/utils/_variables.scss";
@import "sass/utils/mixins";
@import "sass/base/typography";
@import "sass/base/base";

/* Code loader*/
.main_wrapper {
  margin: 0 auto;
  /*min-width: 320px;*/
  width: 100%;
}
a {
  text-decoration: none;
  color: #000000;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 0.3em;
  width: 100%;
}
.location {
  display: flex;
  padding: 1em;
  justify-content: center;
  background-color: lightgrey;
}

.location__mapicon {
  padding-right: 15px;
}
.location__text {
  font-family: $font-text;
  font-weight: bold;
  font-size: 1.2em;
}

.booking__header {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
}

.booking__header h2 {
  font-weight: 700;
  font-size: 24px;
  padding: 1em 0;
}
.booking__header p {
  font-size: 1.1em;
  padding: 0 0 1.5em;
}
.booking__btn {
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 50px;
  background-image: linear-gradient(
    to bottom,
    $colour-secondary,
    $colour-primary
  );
  cursor: pointer;
}
.booking__info {
  padding: 2em 1em;
}
.booking__info > h2 {
  font-weight: bold;
  padding-bottom: 0.5em;
}
.booking__steps {
  list-style: none;
  counter-reset: compteListe;
}
.booking__step {
  position: relative;
  background-color: #f6f6f6;
  padding: 1.5em;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 20px;
  margin: 10px;
  height: 5em;
}
.booking__step::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  padding: 0.75em;
  border-radius: 100px;
  height: 1.5em;
  width: 1.5em;
  background-color: $colour-primary;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1.5em;
}
.booking__steps li {
  display: flex;
  align-items: center;
}
.step__icon {
  padding-right: 15px;
  padding-left: 15px;
  size: 3ex;
}
.booking__step span {
  font-weight: 700;
}
.store {
  padding: 1em;
}
.store__title {
  margin: 1em 0;
  font-weight: 700;
}
.store__fullcard {
  height: 255px;
  border-radius: 1rem;
  position: relative;
  margin: 1em 0;
  box-shadow: 5px 5px 5px #f2f2f2;
}
.card1 {
  background: #f2f2f2
    url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat
    bottom/cover;
}
.card2 {
  background: #f2f2f2 url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg")
    no-repeat bottom/cover;
}
.card3 {
  background: #f2f2f2
    url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat
    center/cover;
}
.card4 {
  background: #f2f2f2
    url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
    no-repeat top/cover;
}
.fullcard__description {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  height: 80px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
.description__label {
  padding: 1em 1em;
}
.description__label > h3 {
  padding-bottom: 0.5em;
}
.far.fa-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.store__tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-tertiary;
  height: 30px;
  width: 80px;
  right: 20px;
  top: 15px;
  border: $colour-tertiary-dark 1px solid;
  color: $colour-tertiary-dark;
}
footer {
  width: 100%;
  background-color: #333333;
  color: #fff;
}
.footer__logo {
  padding: 1em;
  font-weight: normal;
}
.footer__list {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  color: #ffffff;
}
.list__store a {
  color: #ffffff;
  padding: 1em;
}
@media (min-width: 450px) {
  .booking__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .booking__step {
    margin-right: 2em;
  }
}
