@charset "UTF-8";
.card__check, .booking__step::before, .location, .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-weight: bolder;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
}

.menu h2 {
  font-family: "Shrikhand", cursive;
}

.main_wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  animation: main 1000ms 1500ms both;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header__logo {
  position: relative;
  padding: 0.3em;
  font-weight: normal;
  width: 100%;
}

.booking__header {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
}

.booking__header > h2 {
  font-weight: 700;
  font-size: 24px;
  padding: 1em 0;
}

.booking__header > p {
  font-size: 1.1em;
  padding: 0 0 1.5em;
}

.footer {
  width: 100%;
  background-color: #353535;
  color: #ffffff;
}
.footer .footer__logo {
  padding: 1em;
  font-weight: normal;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  color: #ffffff;
}

.list__store a {
  color: #ffffff;
  padding: 1em;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.location {
  padding: 1rem;
  background-color: #eaeaea;
}
.location .location__mapicon {
  padding-right: 1rem;
}
.location .location__text {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background-color: #eaeaea;
}

.booking__header {
  background-color: #f6f6f6;
  padding-bottom: 55px;
}

.booking__info {
  padding: 2em 1em;
}
.booking__info .booking__info > h2 {
  font-weight: bolder;
  padding-bottom: 0.5em;
}

.booking__steps {
  list-style: none;
  counter-reset: compteListe;
}
.booking__steps .booking__steps li {
  display: flex;
  font-weight: bolder;
  align-items: center;
}

.booking__step {
  position: relative;
  background-color: #f6f6f6;
  padding: 1.5em 0 1.5em 1.5em;
  box-shadow: 5px 5px 5px #f6f6f6;
  border-radius: 20px;
  margin: 20px;
  height: 5em;
  align-items: baseline;
}
.booking__step:hover {
  background-color: #f5edff;
  color: #9356dc;
}
.booking__step .booking__step span {
  font-weight: 700;
}

.booking__step::before {
  counter-increment: compteListe;
  content: counter(compteListe) " ";
  padding: 0.75rem;
  border-radius: 100px;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #9356dc;
  color: #ffffff;
  position: absolute;
  left: -1rem;
  top: 1.5rem;
}

.step__icon {
  font-size: 1.2em;
  padding: 0.4em 1em;
}

.store {
  padding: 2em 1em;
  background-color: #f6f6f6;
}
.store .store__title {
  margin: 1em 0;
  font-weight: 700;
}

.store__fullcard {
  width: 335px;
  height: auto;
  border-radius: 1rem;
  position: relative;
  margin: 1em 0;
  box-shadow: 5px 5px 5px #f6f6f6;
}

.card__img {
  object-fit: cover;
  width: 335px;
  height: 225px;
  border-radius: 1rem;
}

.fullcard__description {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  height: 80px;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.description__label > h3 {
  padding-bottom: 0.5em;
}

.far.fa-heart {
  font-size: 1.5em;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.store__tag {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  height: 30px;
  width: 80px;
  right: 20px;
  top: 15px;
  border: #008766 1px solid;
  color: #008766;
}

@media screen and (min-width: 650px) {
  .main_wrapper {
    max-width: 1500px;
    width: 100%;
  }

  .booking__info > h2 {
    justify-content: center;
    margin: 0 auto;
  }

  .booking__container {
    display: flex;
    justify-content: center;
  }

  .booking__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .booking__step {
    margin-right: 1.5em;
    padding-right: 1.5em;
  }

  .store__fullcard {
    width: 335px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .list__store {
    display: flex;
    justify-content: space-around;
  }
}
body {
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-weight: bolder;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
}

.menu h2 {
  font-family: "Shrikhand", cursive;
}

.booking__btn {
  border: 0;
  font-size: 1.1rem;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 450ms;
}
.booking__btn:hover {
  transform: scale(1.15);
  box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.5);
}
.booking__btn:hover::after {
  opacity: 1;
}
.booking__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background: linear-gradient(to bottom, lighten #ff79da, lighten #9356dc);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/*-----Button heart-----*/
.heart__ctn {
  position: relative;
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent 0px solid;
  transition: 600ms;
  display: inline-block;
}

.fullcard__description > .heart__ctn {
  background-color: #ffffff;
}

.menu__header > .heart__ctn {
  background-color: #f6f6f6;
}

.btn__heart {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
}

.far.fa-heart {
  font-size: 2rem;
}

.btn__noBg {
  transition: 800ms;
}

.btn__Bg {
  position: absolute;
  background: -moz-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 800ms;
  opacity: 0;
  transform-origin: 0%;
}

.heart__ctn:hover .btn__Bg {
  opacity: 1;
}

.heart__ctn:active .btn__noBg {
  opacity: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.return_home .fa-arrow-left {
  transform: scale(1);
  display: inline-block;
  align-items: center;
}
.return_home .fa-arrow-left:hover {
  transform: scale(1.15);
}

.menu__main_image > img {
  width: 100%;
  min-width: 320px;
  height: 260px;
  object-fit: cover;
}

.menu {
  width: 100%;
  min-width: 320px;
  background-color: #f6f6f6;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-top: -3em;
  position: relative;
  z-index: 1;
}
.menu__header {
  display: flex;
  align-items: center;
  border-radius: 1.5rem 1.5rem 0 0;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem;
}
.menu__title::first-letter {
  text-transform: uppercase;
  font-size: 2rem;
}

/*-----------Sous-menus--------------*/
.submenu__container {
  margin: 1rem auto;
  width: calc(100% -2rem);
  animation: cardAppear 2s;
  animation-fill-mode: both;
}
.submenu__container--delay1 {
  animation-delay: 400ms;
}
.submenu__container--delay2 {
  animation-delay: 600ms;
}
.submenu__container--delay3 {
  animation-delay: 800ms;
}

.container__title {
  padding: 10px 1em;
  font-size: 1em;
  color: #848484;
  text-transform: uppercase;
}

.container__title > span {
  border-bottom: solid 2px #99e2d0;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 70px;
  display: flex;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 1rem;
  margin: 1rem 0;
  overflow: hidden;
}
.card__header {
  width: calc(100% - 4.5rem);
  transition: 1s;
}
.card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  transition: 600ms ease-in-out;
  padding: 1rem 0 0 1rem;
}
.card__info {
  margin: 0;
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 600ms ease-in-out;
}
.card__price {
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem 0;
  font-weight: 700;
  overflow: hidden;
}
.card__check {
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  transition: 1s;
  border-radius: 0 1rem 1rem 0;
}
.card__check .far.fa-check-circle {
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #99e2d0;
  border-radius: 50px;
  border-color: #99e2d0;
}

.card:hover .card__check {
  width: 4.5rem;
}

.card:hover .card__header {
  width: 250px;
}

.card:hover .far.fa-check-circle {
  animation: rotate 600ms;
  animation-timing-function: linear;
}

.order {
  text-align: center;
  padding: 40px 0;
}

.footer {
  width: 100%;
  background-color: #353535;
  color: #ffffff;
}
.footer .footer__logo {
  padding: 1em;
  font-weight: normal;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  color: #ffffff;
}

.list__store a {
  color: #ffffff;
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .main_wrapper {
    padding-bottom: 10em;
  }

  .menu__main_image > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .menu {
    max-width: 1280px;
    margin: -3em auto 0;
  }

  .menu__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.section__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: loaderDisappear 2000ms 200ms both;
}

/*Keygrames pour faire disparaître le loader */
@keyframes loaderDisappear {
  100% {
    opacity: 0;
    z-index: -5;
  }
}
.loader__item {
  width: 50px;
  height: 50px;
  margin: 2rem;
  animation: spin 2s 500ms linear infinite both;
}

.item1 {
  position: relative;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #9356dc;
}

.item1::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  opacity: 0.6;
  border: 6px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #9356dc;
}

.item2 {
  position: relative;
  border-radius: 50px;
  border: 6px solid rgba(250, 250, 250, 0.8);
  border: 6px solid transparent;
  border-top-color: #99e2d0;
  border-bottom-color: #99e2d0;
}

.item2::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  opacity: 0.6;
  border: 6px solid transparent;
  border-top-color: #99e2d0;
  border-bottom-color: #99e2d0;
}

.item3 {
  position: relative;
  border-radius: 50px;
  border: 6px solid rgba(250, 250, 250, 0.8);
  border: 6px solid transparent;
  border-top-color: #e72c83;
  border-bottom-color: #e72c83;
}

.item3::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  opacity: 0.6;
  border: 6px solid transparent;
  border-top-color: #e72c83;
  border-bottom-color: #e72c83;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Keyframes pour ramener la page principale*/
@keyframes main {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Keyframes pour apparition des cards dans les menus*/
@keyframes cardAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*keyframe pour la choche dans le menu*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
