.booking__btn {
	border: 0;
	font-size: 1.1rem;
	color: $colour-white;
	padding: 1rem 1.5rem;
	border-radius: 50px;
	background-image: $clr-btn;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	position: relative;
	z-index: 1;
	transform: scale(1);
	transition: transform 450ms;
	&:hover {
		transform: scale(1.15);
		box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.5);
		&::after {
			opacity: 1;
		}
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 50px;
		background-color: $colour-secondary;
		opacity: 0;
		z-index: -1;
		transition: opacity 250ms ;
	}
}

/*-----Button heart-----*/
//--------------à finir--------------*/
.heart__ctn {
	position: relative;
	height: 2rem;
	width: 2rem;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: transparent 0px solid;
	transition: 600ms;
	display: inline-block;
}

.fullcard__description > .heart__ctn {
	background-color: $colour-white;
}
.menu__header > .heart__ctn {
	background-color: $colour-white-dark;
}
.btn__heart {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 2rem;
}
.far.fa-heart {
	font-size: 2rem;
}
.btn__noBg {
	transition: 800ms;
}
.btn__Bg {
	position: absolute;
	background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
	background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
	background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 800ms;
	opacity: 0;
	transform-origin: 0%;
}
.heart__ctn:hover .btn__Bg {
	opacity: 1;
}
.heart__ctn:active .btn__noBg {
	opacity: 0;
}
