body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $colour-black;
}

//location search
.location {
	@extend %flex-center;
	padding: 1rem;
	border-top: darken($colour-grey-middle, 5%) 1px solid;
	background-color: $colour-grey-middle;
	&__mapicon {
		padding-right: 1rem;
	}
	&__text {
		font-family: $font-text;
		font-weight: bold;
		font-size: 1rem;
		border: none;
		background-color: $colour-grey-middle;
	}
}
//Booking & Tuto
.booking {
	&__header {
		background-color: $colour-white-dark;
		padding-bottom: 55px;
	}
	&__info {
		padding: 2em 1em;
		.booking__info > h2 {
			font-weight: bolder;
			padding-bottom: 0.5em;
		}
	}
	&__steps {
		list-style: none;
		counter-reset: compteListe;
		& > li {
			display: flex;
			align-items: center;
		}
	}
	&__step {
		position: relative;
		background-color: $colour-white-dark;
		padding: 1rem;
		box-shadow: 5px 5px 5px darken($colour-white-dark, 5%);
		border-radius: 1.5rem;
		margin: 20px;
		height: 5em;
		align-items: baseline;
		&:hover {
			background-color: $colour-primary-light;
		}
		&:hover .fas {
			color: $colour-primary;
		}
		& > span {
			font-weight: 700;
		}
		&::before {
			counter-increment: compteListe;
			content: counter(compteListe) " ";
			padding: 0.75rem;
			border-radius: 100px;
			height: 0.4rem;
			width: 0.4rem;
			background-color: $colour-primary;
			color: $colour-white;
			@extend %flex-center;
			position: absolute;
			left: -1rem;
			top: 1.5rem;
		}
	}
}

.step__icon {
	font-size: 1.2em;
	padding: 0.4em 1em;
}
.store {
	padding: 2em 1em;
	background-color: $colour-white-dark;
	&__title {
		margin: 1em 0;
		font-weight: 700;
	}
	&__fullcard {
		max-width: 335px;
		height: auto;
		border-radius: 1rem;
		position: relative;
		margin: 1em;
		box-shadow: 5px 5px 5px $colour-white-dark;
	}
	&__tag {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $colour-tertiary;
		height: 30px;
		width: 80px;
		right: 20px;
		top: 15px;
		border: $colour-tertiary-dark 1px solid;
		color: $colour-tertiary-dark;
	}
}

.card__img {
	object-fit: cover;
	width: 335px;
	width: calc(100%-40px);
	height: 225px;
	border-radius: 1rem;
}
.fullcard__description {
	position: absolute;
	background-color: $colour-white;
	width: 100%;
	bottom: 0;
	height: 80px;
	padding: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	display: flex;
	justify-content: space-between;
}

.description__label > h3 {
	padding-bottom: 0.5em;
}
.far.fa-heart {
	font-size: 1.5em;
	font-weight: lighter;
	display: flex;
	justify-content: center;
	align-items: center;
	// padding-right: 15px;
	cursor: pointer;
}

//Breakpoints
$breakpoints: (
	desktop: 650px,
);
@media screen and (min-width: map-get($breakpoints,desktop)) {
	.main_wrapper {
		max-width: 1500px;
		width: 100%;
	}
	.booking {
		&__info > h2 {
			justify-content: center;
			margin: 0 auto;
		}
		&__container {
			display: flex;
			justify-content: center;
		}
		&__steps {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__step {
			margin-right: 1.5em;
			padding-right: 1.5em;
		}
	}
	.store__fullcard {
		width: 335px;
		height: auto;
		display: flex;
		flex-wrap: wrap;
	}
	.footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.list__store {
			display: flex;
			justify-content: space-around;
		}
	}
}
