$font-title: "Shrikhand", cursive;
$font-text: "Roboto";
body {
	font-family: $font-text;
}
h1 {
	font-family: $font-title;
}
h2 {
	font-weight: bolder;
}

//typo footer
.footer__logo {
	font-family: $font-title;
}

.menu h2 {
	font-family: $font-title;
}
