.section__loader {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: relative;
	height: 500px;
}
.loader__item {
	width: 50px;
	height: 50px;
    margin-right: 2rem;
}

.item1 {
	position: relative;
	border-radius: 50px;
	border: 6px solid transparent;
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
    animation: spin 1s linear infinite;
}
.item1::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50px;
    opacity: 0.6;
	border: 6px solid transparent;
	border-top-color: #9356DC;
    border-bottom-color: #9356DC;
	animation: spin 1s linear infinite;
}

.item2 {
	position: relative;
	border-radius: 50px;
	border: 6px solid rgba(250, 250, 250, 0.8);
    border: 6px solid transparent;
	border-top-color:#99E2D0;
    border-bottom-color: #99E2D0;
    animation: spin 1s linear infinite;
}


.item2::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50px;
    opacity: 0.6;
	border: 6px solid transparent;
	border-top-color:#99E2D0;
    border-bottom-color: #99E2D0;
	animation: spin 1s linear infinite;
}
.item3 {
	position: relative;
	border-radius: 50px;
	border: 6px solid rgba(250, 250, 250, 0.8);
    border: 6px solid transparent;
	border-top-color: #e72c83;
    border-bottom-color: #e72c83;
    animation: spin 1s linear infinite;}


.item3::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50px;
    opacity: 0.6;
	border: 6px solid transparent;
	border-top-color: #e72c83;
    border-bottom-color: #e72c83;
	animation: spin 1s linear infinite;
}
.section__loader{
	animation: spin 3000ms;
}
@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
		opacity: .1;	
	}
	50%{
		opacity: .1;
	}
	100% {
		transform: rotate(360deg);
		
	}
}
@keyframes cardAppear{
	0%{
		transform:scale(0);
	}
	
	100%{
		transform: scale(1);
	}
}