.section__loader {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	animation: loaderDisappear 2000ms 200ms both;
}
/*Keygrames pour faire disparaître le loader */
@keyframes loaderDisappear {
	100% {
		opacity: 0;
		z-index: -5;
	}
}
.loader__item {
	width: 50px;
	height: 50px;
	margin: 2rem;
	animation: spin 2s 500ms linear infinite both;
	position: relative;
	border-radius: 50px;
	border: 6px solid transparent;
	&::after {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50px;
		opacity: 0.6;
		border: 6px solid transparent;
	}
}

.item1 {
	border-top-color: #9356dc;
	border-bottom-color: #9356dc;
	&::after {
		content: "";
		border-top-color: #9356dc;
		border-bottom-color: #9356dc;
	}
}

.item2 {
	border-top-color: #99e2d0;
	border-bottom-color: #99e2d0;
	&::after {
		content: "";
		border-top-color: #99e2d0;
		border-bottom-color: #99e2d0;
	}
}

.item3 {
	border-top-color: #e72c83;
	border-bottom-color: #e72c83;
	&::after {
		content: "";
	
		border-top-color: #e72c83;
		border-bottom-color: #e72c83;
	}
}


@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*Keyframes pour ramener la page principale*/
@keyframes main {
	0% {
		transform: translateX(-9999px);
	}
	100% {
		transform: translateX(0);
	}
}

/* Keyframes pour apparition des cards dans les menus*/
@keyframes cardAppear {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	50% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
/*keyframe pour la coche dans le menu*/
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
