// utilitaires couleurs//
$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-primary-light:rgb(245 237 255);
$colour-tertiary: rgb(153 226 208);
$colour-tertiary-dark: rgb(0 135 102);
$colour-white:#ffffff;
$colour-white-dark:rgb(246 246 246);
$colour-grey-middle:rgb(234 234 234);
$colour-dark:rgb(53 53 53);
$colour-black:#000000;


//btn//
$clr-btn:linear-gradient(to bottom, $colour-secondary, $colour-primary);
$clr-btn--hov:linear-gradient(to bottom,lighten ($colour-secondary),lighten ($colour-primary));
