html,body{
	height: 100vh;
	position: relative;
}
.main_wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-width: 320px;
	animation: main 1000ms 1500ms both;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
