.footer {
	height: 280px;
	width: 100%;
	margin: 0;
	padding: 1rem;
	background-color: $color-dark;
	color: $color-white;	
	&__logo {
		padding: 1em;
		font-weight: normal;
	}
	&__list {
		display: flex;
		flex-direction: column;
		padding: 0 1em;
		color: $color-white;
	}
}

.list__store a {
	color: $color-white;
	padding: 1em;
}
